{% load static %}

{% include 'NavigationBar.html'%}
<head>    
    <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
	<title>Dunia Geez</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">


{% block title %}
<h2 style = "margin-left: 50px;font-family: Garamond; font-size: 40px;"><center>Jadwal Kegiatan</center></h2>
{% endblock title %}

<head>    
    <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}
    <div class="main-div">
        <div class="container mx-auto d-block">
            {% if schedule %}
                <table class="table table-hover table-striped" align="center" style="text-align: center; margin-top: 100px; font: Garamond;">
                    
                    <thead>
                        <tr>
                            <th scope="col">Nama Kegiatan</th>
                            <th scope="col">Tempat Kegiatan</th>
                            <th scope="col">Kategori kegiatan</th>
                            <th scope="col">Waktu kegiatan</th>
                        </tr>
                    </thead>
                    
                    {% for data in schedule %}
                        <tr>
                            <td scope="row">{{ data.name }}</td>
                            <td scope="row">{{ data.place }}</td>
                            <td scope="row">{{ data.category }}</td>
                            <td scope="row">{{ data.time|date:"l" }}, {{ data.time }}</td>
                        </tr>
                    {% endfor %}

                    {% for i in message %}
                        {% if i.name == 'Anonymous' or i.email == 'Anonymous' %}
                        <tr class="warning"> {% else %} <tr class="success">
                            {% endif %}
                            <td> {{i.name}} </td>
                            <td> {{i.email}} </td>
                            <td> {{i.message}} </td>
                            <td> {{i.created_date.time}} </td>
                        </tr>             
                    {% endfor %}
                </table>
				<form action= "{% url 'deleteList' %}">
					{% csrf_token %}
					<button type='submit' class='btn' style = "margin-left: 640px; font-family: Garamond; font-size: 25px;"> Delete</button>
				</form>	
            {% else %}
                <h1 class="text-main" style = "margin-left: 350px; margin-top: 200px;font-family: Garamond; font-size: 40px;">Tidak Ada Jadwal Kegiatan</h1>
            {% endif %}
        </div>
    </div>
{% endblock content %}