{% load static %}

{% include 'NavigationBar.html'%}

<head>    
    <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
	<title>Dunia Geez</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">


<h2 style="color :DodgeBlue3"><center>Jadwal</center></h2>


{% block content %}

<form action='ActivityPage.html' method='POST' >
    {% csrf_token %} 
    {{ form.as_table }}
    <br />
    <button type='submit' class='btn'>Submit</button>
</form>
{% endblock %}