{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'NavigationBar.html'%}
		<div class = "ColorText" >
			<img src = "https://lh3.google.com/u/0/d/1gG-S2-qZfDb-pvNrZVAaF11_RKfXfLw3=w1366-h657-iv1" class = "img img-rounded Photo1">
			<p class = "Name ColorText">Angginistanti Fairuz Hanun</p>
			<div class = "Description ColorText">
				<p> Anggis - 19 tahun </p>
				<p> Lahir di Tanjung Redeb, 25 September 1999 </p>
				<p> Anak ke-2 dari 2 bersaudara </p>
				<p> Mahasiswi dari Program Studi Sistem Informasi, Fakultas Ilmu Komputer, Universitas Indonesia </p>
				<p> Memiliki hobi menulis, dan mendengar musik klasik </p>
			</div>
		</div>
		
		<div>
			<span class="glyphicon glyphicon-book Education ColorLogo"></span> 
			<p class = "EducationText ColorText">Pendidikan</p>
		</div>
		<table style="width: 1000px;" class = "DataEducation ColorText">
			<tr>
				<td>2017 - sekarang</td>
				<td> Universitas Indonesia</td>
			</tr>
			<tr>
				<td>2014 - 2017</td>
				<td>SMAN 38 Jakarta</td>
			</tr>
			<tr>
				<td>2011 - 2014</td>
				<td>SMPN 166 Jakarta</td>
			</tr>
			<tr>
				<td>2006 - 2014</td>
				<td>SDN Jagakarsa 06 Pagi </td>
			</tr>
		</table>
		
		<div>
			<span class="glyphicon glyphicon-user Experience ColorLogo"></span> 
			<p class = "ExperienceText ColorText">Pengalaman Organisasi</p>
		</div>
		<table style="width: 1000px;" class = "DataEducation ColorText">
			<tr>
				<td>2018 - sekarang</td>
				<td> Staff Departemen Pengabdian Masyarakat BEM Fasilkom UI 2018</td>
			</tr>
			<tr>
				<td>2018 - sekarang</td>
				<td>Staff Biro Kesekretariatan dan Kemakmuran Musholla FUKI 2018</td>
			</tr>
			<tr>
				<td>2016 - 2015</td>
				<td>Staff Divisi Asapena KIR SMAN 38 Jakarta</td>
			</tr>
			<tr>
				<td>2013 - 2012</td>
				<td>Staff KIR SMPN 166 Jakarta</td>
			</tr>
		</table>
		
		<div>
			<span class="glyphicon glyphicon-user Experience ColorLogo"></span> 
			<p class = "ExperienceText ColorText">Pengalaman Kepanitiaan</p>
		</div>
		<table style="width: 1000px;" class = "DataEducation ColorText">
			<tr>
				<td>2018 - sekarang</td>
				<td> Staff Medis PMB Fasilkom UI 2018</td>
			</tr>
			<tr>
				<td>2018 - sekarang</td>
				<td>Wakil Penanggung Jawab Bidang Acara SIWAK-NG 2018</td>
			</tr>
			<tr>
				<td>Des. 2017 - Jan. 2018</td>
				<td>Staff Konsumsi Wisuda Ganjil Fasilkom UI 2018</td>
			</tr>
			<tr>
				<td>Okt. 2017 - Nov. 2017</td>
				<td>Staff Karya Tulis Ilmiah UIYEA 2017</td>
			</tr>
			<tr>
				<td>Mei 2017 - Juli 2017</td>
				<td>Bendahara 2 CODING </td>
			</tr>
		</table>
	</body>
</html>
