{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		 <link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1" />
		 <link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
		
	</head>
	<body>
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'NavigationBar.html'%}
		<div class = "ColorText" >
			<img src = "https://lh3.google.com/u/0/d/1gG-S2-qZfDb-pvNrZVAaF11_RKfXfLw3=w1366-h657-iv1" class = "img img-rounded Photo1">
			<p class = "Name ColorText">Angginistanti Fairuz Hanun</p>
			<p class = "Adding ColorText">Feel Free to Contact Me!</p>
			<table style="width: 1000px;" class = "AllData">
				<tr>
					<td><span class="glyphicon glyphicon-home "></span>  </td>
					<td>Jl. Meninjo No.99C Jagakarsa, Jakarta Selatan</td>
				</tr>
				<tr>
					<td><span class="glyphicon glyphicon-phone "></span></td>
					<td>089686662095</td>
				</tr>
				<tr>
					<td><span class="glyphicon glyphicon-envelope "></span></td>
					<td>angginistantifh@gmail.com</td>
				</tr>
			</table>
		</div>
	</body>
</html>