{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		 <link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'NavigationBar.html'%}
			
			<div>
				<p class="Judul ColorText"><em>Buku Tamu</em></p>
				<p class="Quotes ColorText"><em>Yuk Bantu Geez Untuk Mendata Tamu di Web ini!</em></p>
			</div>
			<form class="form-horizontal AllForm" action="/action_page.php">
				<div class="form-group ColorText ">
					<label for="Text">Nama</label>
					<input type="text" class="form-control" id="text">
				</div>
				<div class="form-group ColorText">
					<label for="email">Email</label>
					<input type="Email" class="form-control" id="email">
				</div>
				<div class="form-group ColorText">
					<label for="date">Tanggal</label>
					<input type="date" class="form-control" id="date">
				</div>
				<div class="form-group ColorText">
					<label for="text">Subjek</label>
					<input type="text" class="form-control" id="text">
				</div>
				<div class="form-group ColorText">
					<label for="textarea">Message</label>
					<input type="textarea" class="form-control" id="textarea">
				</div>
				<button type="submit" class="btn btn-default ColorText">Submit</button>
			</form>	
	</body>
</html>