{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		 <link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
		<div class = "BodyHome"></div>
		<div>
			<img src = "https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h608-iv3" class = "img img-circle img-responsive LogoHome center-block" >
			<p class = "WelcomingText center-block"> <em> <b>Selamat Datang di Dunia Geez! </b></em><p>
			<div class="btn-toolbar center-block ButtonHome" role="toolbar" >
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default btn-lg img img-rounded UkuranButton">
						<a href="PortfolioPage.html">Portofolio</a>
					</button>
				</div>
				<div class="btn-group" role="group" >
					<button type="button" class="btn btn-default btn-lg img img-rounded UkuranButton">
						<a href="AboutMePage.html">Tentang Saya</a>
					</button>
				</div>
				<div class="btn-group" role="group" >
					<button type="button" class="btn btn-default btn-lg img img-rounded UkuranButton">
						<a href="JournalPage.html">Jurnal</a>
					</button>
				</div>
				<div class="btn-group" role="group" >
					<button type="button" class="btn btn-default btn-lg img img-rounded UkuranButton ">
						<a href="FormPage.html">Tamu</a>
					</button>
				</div>
				<div class="btn-group" role="group" >
					<button type="button" class="btn btn-default btn-lg img img-rounded UkuranButton">
						<a href="ContactPage.html">Kontak</a>
					</button>
				</div>
			</div>
		</div>
	</body>
</html>