{% load static %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		 <link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'NavigationBar.html'%}
		<div>
			<p class="Judul ColorText"><em>Jurnal</em></p>
			<p class="Quotes ColorText"><em>"Karena Dunia Butuh Tempat Untuk Bercerita"</em></p>
		</div>
		<p class="ColorText LokasiKategori"> Kategori</p>
	
		<div class="card-group">
			<div class = "card bg-light">

				<div class="card bg-light LihatSemua SizePanel">
					<div class="card-body">
						<h5 class="card-title JudulCard">Lihat Semua</h5>
						<p class="card-text"> Kumpulan hasil karya milik Geez dalam bentuk tulisan. Bebas memilih untuk membaca kategori apapun</p>
						<a href="#" class="btn btn-primary">Lihat</a>
						<p class="card-text"><small class="text-muted">Update terakhir 3 hari yang lalu</small></p>
					</div>
				</div>
				<div class="card KumpulanFiksi SizePanel ">
					<div class="card-body ">
						<h5 class="card-title JudulCard">Karya Fiksi</h5>
						<p class="card-text">Kumpulan imajinasi sepenuhnya milik Geez. Terdiri dari, cerita pendek, sajak, dan karya singkat.</p>
						<a href="#" class="btn btn-primary">Lihat</a>
						<p class="card-text"><small class="text-muted">Update terakhir 1 minggu yang lalu</small></p>
					</div>
				</div>
				<div class="card KumpulanArtikel SizePanel">
					<div class="card-body">
						<h5 class="card-title JudulCard">Kumpulan Artikel</h5>
						<p class="card-text">Membahas fenomena yang baru saja terjadi. Tidak hanya itu, kumpulan tips & trick juga ada disini!</p>
						<a href="#" class="btn btn-primary">Lihat</a>
						<p class="card-text"><small class="text-muted">Update Terakhir 2 minggu yang lalu</small></p>
					</div>
				</div>
				<div class="card KumpulanReview SizePanel">
					<div class="card-body">
						<h5 class="card-title JudulCard">Kumpulan Review</h5>
						<p class="card-text">Membahas novel best seller, dan hp keluaran terbaru, dan juga tersedia rekomendasi yang akan berguna!</p>
						<a href="#" class="btn btn-primary">Lihat</a>
						<p class="card-text"><small class="text-muted">Update Terakhir 2 minggu yang lalu</small></p>
					</div>
				</div>
				<div class="card MateriKuliah SizePanel ">
					<div class="card-body">
						<h5 class="card-title JudulCard">Tentang Universitas</h5>
						<p class="card-text">Pembahasan materi kuliah di bidang sistem informasi, perbedaan jurusan, dan lainnya akan tersedia disini!</p>
						<a href="#" class="btn btn-primary">Lihat</a>
						<p class="card-text"><small class="text-muted">Update Terakhir 1 bulan yang lalu</small></p>
					</div>
				</div>
			</div>
		</div>
		<div class="dropdown show ">
			<a class="btn btn-secondary dropdown-toggle LokasiDropdown ColorText" href="#" role="button" id="dropdownMenuLink">
			Urutkan Berdasarkan
			</a>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<a class="dropdown-item" href="#">Sering Dikunjungi</a>
				<a class="dropdown-item" href="#">Terbaru</a>
				<a class="dropdown-item" href="#">Terlama</a>
				<a class="dropdown-item" href="#">Alfabet A - Z</a>
				<a class="dropdown-item" href="#">Alfabet Z - A</a>
			</div>
		</div>		
	</body>
</html>