{% load static %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" type="text/css" href="Story3.css"><div>
<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 h1 LogoHeader ColorText" style = "font-family: Garamond; font-size: 40px; margin-top: 25px;"><h1><b><center>Dunia Geez</center></b></h1></span>
</nav>
<nav class="navbar navbar-default navbar-expand Position">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href="HomePage.html">HOME</a></li>
			<li ><a href="AboutMePage.html">ABOUT ME</a></li>
			<li ><a href="PortfolioPage.html">PORTFOLIO</a></li>
			<li ><a href="JournalPage.html">JOURNAL</a></li>
			<li><a href="FormPage.html">FORM</a></li>
			<li><a href="ContactPage.html">CONTACT ME</a></li>
			<li><a href="{% url 'DataActivity' %}">FORM ACTIVITY</a></li>
            <li><a href="{% url 'ActivityPage' %}">SEE ACTIVITY</a></li>
		</ul>
	</div>
</nav>
{% endblock %}