{% load static%}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Dunia Geez</title>
		<link rel="shortcut icon" href="https://lh3.google.com/u/0/d/1UPkkvnFXnuDDODqu4HCWYPCQsRAsZvxu=w1366-h657-iv1">
		<link rel="stylesheet" type="text/css" href="{% static 'Story3.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
		<header>
			{% block content %} {% endblock %}
		</header>
			{% include 'NavigationBar.html'%}
		
		<div>
			<p class="JudulPort ColorText"><em>Portofolio</em></p>
		</div>
			
		<div class = "Skill ColorText">
			<p> <b> Halaman ini belum tersedia </b></p>
		</div>
	</body>
</html>
