body {
   background-color: #F5F5DC;
}

.ColorText{
	font-family: Garamond;
	color: DodgerBlue3;
}

.ColorLogo{
	color: skyblue;
}

.LogoHeader {
    margin-top: 50px;
    margin-left: 500px;
    width: 300px;
    height: 10px;
	font-size: 50px;
}

.Position {
    width: 1365px;
    height: 50px;
	font-size: 20px;
	background: transparent;
	border: transparent;
	font-family: Garamond;
} 

.Search {
    margin-left:900px;
	margin-top:-40px;
    height: 40px;
}

/*Untuk Halaman About Me*/

.Photo1 {
    margin-top: 10px;
    margin-left:60px;
	height: 350px;
    width: 18%;
}
.Name {
    margin-top:-350px;
    margin-left:350px;
	font-size: 40px;
}

.Description{
	margin-left:350px;
	margin-top: 0px;
    width: 600px;
	font-size: 25px;
}

.AllData {
    margin-left:360px;
	margin-top: 30px;
    width: 800px;
	font-size: 28px;
}

.Adding{
	margin-left:360px;
	margin-top: -10px;
    width: 800px;
	font-size: 28px;
}

.Education {
    margin-top: 100px;
    margin-left:150px;
    width: 50px;
    height: 50px;
	font-size: 60px;
}
.EducationText{
	margin-top: -70px;
    margin-left:240px;
	font-size: 50px;	
}

.DataEducation{
	margin-left: 250px;
	margin-top: 30px;
    width: 800px;
	font-size: 28px;
}

.Experience{
	margin-top: 100px;
    margin-left:150px;
    width: 50px;
    height: 50px;
	font-size: 60px;
}
.ExperienceText{
	margin-top: -60px;
    margin-left:240px;
	font-size: 50px;
}


/*Untuk Halaman Jurnal*/
.Judul{
	margin-top: 60px;
    margin-left: 500px;
	font-size: 38px;
	font-family: Bookman;
}

.Quotes{
	margin-top: 0px;
    margin-left: 300px;
	font-size: 25px;
	font-family: Bookman;
}

.SizePanel{
    width: 200px;
    height:auto;
	background: white;
}

.LihatSemua {
	margin-top: 40px;
	margin-left: 50px;
}

.KumpulanReview {
	margin-top: -190px;
	margin-left: 300px;
}

.KumpulanFiksi {
	margin-top: -190px;
	margin-left: 550px;
}

.KumpulanArtikel {
	margin-top: -190px;
	margin-left: 800px;
}

.MateriKuliah {
	margin-top: -190px;
	margin-left: 1050px;
}

.JudulCard{
	font-size: 25px;
	font-family: Garamond;
}

.LokasiKategori{
	font-size: 25px;
	margin-top: 0px;
	margin-left: 100px;
}

.LokasiDropdown{
	font-size: 25px;
	margin-top: -540px;
	margin-left: 1000px;
}


/*Untuk Halaman Portofolio*/
.JudulPort{
	position: absolute;
	top: 200px;
    right: 650px;
    width: 100px;
    height: 50px;
	font-size: 38px;
	font-family: Garamond;
}

.Skill{
	position: absolute;
	top: 400px;
    right: 350px;
    width: 600px;
    height: 50px;
	font-size: 48px;
	font-family: Garamond;
	background:  DodgerBlue3;
}


/*Untuk Halaman Form*/
.AllForm{
	margin-top: 50px;
    margin-left:400px;
    width: 300px;
    height: 260px;
	font-size: 25x;
	text-align: center;
}

/*Untuk Halaman Home*/

.BodyHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://4.bp.blogspot.com/-1D7ecF-C548/VRBnSniXsfI/AAAAAAAAA1E/gPEd2VClJWs/s1600/feather_pen_writing_letter_with_ink_bottle-hd.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
	opacity: 0.5;
}

.LogoHome {
	margin-top: 100px;
    width: 300px;
    height: 300px;
	position: relative;
}

.WelcomingText{
	position: relative;
    margin-top: 30px;
	font-size: 45px;
	color: DodgerBlue3;
	font-family: Garamond;
	text-align: center;
}

.ButtonHome{
    margin-left: 150px;
}

.UkuranButton{
    width : 150px;
	height: 50px;
	font-size: 20px;
	font-family: Garamond;
}